
<%-include("header")-%>

<h1>Hi shubham gautam you are a very good coder</h1>
<p>This is about page Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sit dolores quasi corrupti quisquam numquam minus fugit. Unde illum excepturi exercitationem, natus minima est rem, labore sapiente facere non commodi ex ducimus dolorem ullam reprehenderit! Sit vero asperiores eaque suscipit ipsum, assumenda ipsa aliquam iure?</p>
<%-include("footer")-%>